@import url("/home/david/.config/wofi/colors.css");
window {
    margin: 0px;
    background-color: @on_background;
    /* --- BORDES REDONDEADOS --- */
    border-radius: 20px;       /* Ajusta este valor a tu gusto */
    border: 2px solid @outline; /* Opcional: añade un borde fino para que resalte */
}

#input {
margin: 5px;
border: none;
color: @on_primary_container;
background-color: @on_primary;
border-radius: 20px;       /* Ajusta este valor a tu gusto */
border: 2px solid @outline; /* Opcional: añade un borde fino para que resalte */
}

#inner-box {
margin: 5px;
border: none;
background-color: @on_secondary;
border-radius: 20px;       /* Ajusta este valor a tu gusto */
border: 2px solid @outline; /* Opcional: añade un borde fino para que resalte */

}

#outer-box {
margin: 5px;
border: none;
background-color: @on_secondary;
border-radius: 20px;       /* Ajusta este valor a tu gusto */
border: 2px solid @outline; /* Opcional: añade un borde fino para que resalte */
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @on_primary_container;
} 

#entry.activatable #text {
color: @on_primary_fixed;
}

#entry > * {
color: @outline;
}

#entry:selected {
background-color: @on_secondary_fixed;
}

#entry:selected #text {
font-weight: bold;
}
