@import url("/home/david/.config/wofi/colors.css");
window {
    margin: 0px;
    background-color: @on_background;
    border-radius: 0px; 
     /* A veces el "borde" es en realidad una sombra */
    outline: none;             /* Elimina cualquier contorno de enfoque */
}

#input {
margin: 5px;
border: none;
color: @on_primary_container;
background-color: @on_primary;
}

#inner-box {
margin: 5px;
border: none;
background-color: @on_secondary;
}

#outer-box {
margin: 5px;
border: none;
background-color: on_tertiary;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: @on_primary_container;
} 

#entry.activatable #text {
color: @on_primary_fixed;
}

#entry > * {
color: @outline;
}

#entry:selected {
background-color: @on_secondary_fixed;
}

#entry:selected #text {
font-weight: bold;
}
