@import url("/home/david/.config/waybar/colors.css");

* {
    border: none;
    font-family: SF Pro Display, JetBrainsMono Nerd Font Propo;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-shadow: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
}

window#waybar>box {
    background: transparent;
}

.modules-left {
    background-color: @surface_container_high;
    border-radius: 0px 0px 15px 0px;
}

.modules-center {
    background-color: transparent;
    border-radius: 0px 0px 15px 15px;
}

.modules-right {
    background-color: @surface_container_high;
    margin: 0px 0px 0px 0px;
    transition: all 0.3s ease;
    font-size: 24pt;
    min-height: 23pt;
    border-radius: 0px 0px 0px 15px;
}

tooltip {
    background: @surface_container_highest;
    border: 1px solid @outline;
}

tooltip label {
    color: @on_surface;
}

#workspaces {
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button label {
    background: transparent;
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    margin: 3px 3px 3px 3px;
    background: @secondary_container;
    color: @on_secondary_container;
    border-radius: 15px 5px 15px 5px;
    min-width: 25px;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    min-width: 30px;
    transition: all 500ms ease-in-out;
    margin: 3px 3px 3px 3px;
    background: @primary;
    color: @on_primary;
    border: 1px solid @primary;
    font-size: 12pt;
    border-radius: 15px 5px 15px 5px;
}

#workspaces button.focused {
    background: @secondary;
    color: @on_secondary;
    border: 1px solid @secondary;
    border-bottom: 0px solid #7ee5e8;
    font-size: 12pt;
    border-radius: 10px;
    min-width: 20px;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}

#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @surface_container_highest;
}

#backlight-slider highlight {
    min-width: 7px;
    border-radius: 5px;
    background: @primary;
}

#clock {
    font-size: 12pt;
    padding: 0 10px;
    background: @primary;
    color: @on_primary;
    border-radius: 0px 0px 15px 15px;
    /* Esquinas inferiores redondeadas */
    margin: 0px;
}

#battery {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface;
}

#power-profiles-daemon {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface;
}

#network {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface;
}

#pulseaudio {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface;
}
#cava {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface;
    margin-left: 10px;
}

#custom-power {
    font-size: 12pt;
    background: @error_container;
    color: @on_error_container;
    border-radius: 5px 0px 0px 15px;
}

#image {
    padding: 0 5px;
    margin: 0px 5px;
    background: @primary;
    border-radius: 15px 5px 15px 5px;
    margin-right: 10px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
}