@import url("/home/david/.config/waybar/colors.css");


* {
    border: none;
    font-family: "SF Pro Display","JetBrainsMono Nerd Font Propo";
    min-height: 0;
    margin: 0;
    padding: 0;
}



window#waybar {
   background: transparent;
}
window#waybar > box {
   background: transparent;
}

/* Forzamos transparencia en los contenedores de la izquierda y el centro */
.modules-left{
    background-color: transparent;
}
.modules-center {
    background-color: transparent;
}

/* Si los módulos individuales tienen fondo por defecto, también los limpiamos */
.modules-left > widget{
    background-color: transparent;
}
.modules-center > widget {
    background-color: transparent;
}

.modules-right {
    background-color: @surface_container_low;
    border: 1px solid @outline_variant;
    border-radius: 12px;
    margin: 0px 0px;
    padding: 0 12px;
    transition: all 0.3s ease;
    font-size: 24pt;
    min-height: 23pt;
}


tooltip {
   background: @surface_container_highest;
    border: 1px solid @outline;
}
tooltip label {
  color: @on_surface;
}


#workspaces {
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0 5px;
    margin: 0px 1px;
    background: @on_primary;
    color: @on_surface;
    border-bottom: 0px solid transparent;
    border-radius: 10px;
    min-width: 20px;
}
#workspaces button.active {
    min-width: 30px;
    transition: all 500ms ease-in-out;
    padding: 0 5px;
    margin: 0px 1px;
    background: @primary_container;
    color: @on_primary_container;
    border-bottom: 0px solid transparent;
    font-size: 12pt;
    border-radius: 10px;
}


#workspaces button.focused {
   background: @secondary_container;
    color: @on_secondary_container;
    border-bottom: 0px solid #7ee5e8;
    font-size: 12pt;
    border-radius: 10px;
    min-width: 20px;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @surface_variant;
}
#backlight-slider highlight {
    min-width: 7px;
    border-radius: 5px;
    background: @primary;
    
}
#clock {
    font-size: 12pt;
    padding: 0 10px;         
    background:@on_primary;
    color: @on_surface_variant;
    border-radius: 12px;  
}
#battery {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface_variant;
}

#power-profiles-daemon {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface_variant;
}

#network {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface_variant;
}

#pulseaudio {
    font-size: 12pt;
    background-color: transparent;
    color: @on_surface_variant;
}