@import url("/home/david/.config/waybar/colors.css");


* {
    border: none;
    font-family: "SF Pro Display","JetBrainsMono Nerd Font Propo";
    min-height: 0;
    margin: 0;
    padding: 0;
}



window#waybar {
   background: transparent;
}

.modules-right {
    background-color: @on_tertiary;
    border-radius: 12px;  
    min-height: 30px;
    padding: 0 15px;
    /* Esto asegura que el contenedor tenga una base visual */
    border: 2px solid rgba(255,255,255,0.1); 
}


tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: black;
}

#workspaces button {
    padding: 0 5px;
    margin: 0px 1px;
    background: @on_primary;
    color: @on_primary_container;
    border-bottom: 0px solid transparent;
    border-radius: 20px;
    min-width: 20px;
}
#workspaces button.active {
    min-width: 30px;
    transition: all 500ms ease-in-out;
    padding: 0 5px;
    margin: 0px 1px;
    background: @on_primary_container;
    color: @on_secondary;
    border-bottom: 0px solid transparent;
    font-size: 12pt;
    border-radius: 10px;
    min-height: 30px;
}


#workspaces button.focused {
    background: @background;
    border-bottom: 0px solid #7ee5e8;
    font-size: 12pt;
    border-radius: 10px;
    min-width: 20px;
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @background;
}
#backlight-slider highlight {
    min-width: 7px;
    border-radius: 5px;
    background: @on_tertiary_container;
    
}
#clock {
    font-size: 12pt;
    padding: 0 10px;         
    background: @on_tertiary;
    color: @on_tertiary_container;
    border-radius: 12px;  
}
#battery {
    font-size: 12pt;
    background-color: transparent;
    color: @on_tertiary_container;
}

#power-profiles-daemon {
    font-size: 12pt;
    background-color: transparent;
    color: @on_tertiary_container;
}

#network {
    font-size: 12pt;
    background-color: transparent;
    color: @on_tertiary_container;
}

#pulseaudio {
    font-size: 12pt;
    background-color: transparent;
    color: @on_tertiary_container;
}